/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-16 {
  font-size: 16px;
}

.top-heading {
  font-weight: bold;
  display: inline-block;
}

.f-16 {
  font-size: 16px;
}
.f-14 {
  font-size: 14px;
}
.f-12 {
  font-size: 12px;
}
